* {
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: MorrisRomanBlack;
  src: url(./font/MorrisRomanBlackAlt.ttf);
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  background: url(./pics/library.jpg);
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
}

h1 {
  font-family: MorrisRomanBlack;
  font-size: 50px;
  color: #fff;
  grid-area: header;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 20px rgb(243, 89, 29);
}

#menu {
  margin-top: 100px;
  padding: 20px;
  grid-area: menu;
  display: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

#shelf {
  grid-area: main;
  margin-top: 20px;
  padding: 10px;
  font-family: MorrisRomanBlack;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: row;
  gap: 10px;
}

#shelf > div {
    width: 100%;
  position: relative;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  border: 1px solid salmon;
  box-shadow: 0px 0px 20px rgb(243, 89, 29);
  border-radius: 10px;
}


#shelf > div > button {
  font-family: sans-serif;
  font-size: 15px;
}

#deleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  border: 1px solid salmon;
  box-shadow: 0px 0px 3px rgb(243, 89, 29);
}

#changeStatusBtn {
  background-color: white;
  border: 1px solid salmon;
  box-shadow: 0px 0px 3px rgb(243, 89, 29);
}

#newBook {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  font-family: MorrisRomanBlack;
  font-size: 20px;
  border-radius: 50% 50%;
  background-color: white;
  border: none;
  border: 1px solid salmon;
  box-shadow: 0px 0px 20px rgb(243, 89, 29);
}

#cardRead:hover {
  cursor: pointer;
}
